  /*-------------------------------------*/
  /*--------------INICIO-----------------*/
  /* ESTILO CSS PARA PÁGINA DE VERSIONES */
  /*-------------------------------------*/
  /*-------------------------------------*/

/**
 * Estilos CSS para dar apariencia a la página
 *
 * fuente Lato desde Google Fonts y establece estilos básicos para la página
 */
 
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
   font-family: lato;
   margin:0;
   padding: 0;
   box-sizing: border-box;
}

/*------------INICIO----------------*/
/*--------ESTILO PARA HEADER--------*/
/*----------------------------------*/

header{
  background-color: #776B5D;
  color: #fff;
  padding: 3px;
}


.header-header{
  background-color: #D0C8BA;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;

}

.logo{
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.555));
}

nav{
  background-color: #776B5D;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 290px;
  height: auto;
  text-decoration: none;

}

nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul :hover{
  background-color: #554d43;
  color: #fff;
  margin: 2px;
  border-radius: 10px;
  width: 290px;
  height: auto;
  text-decoration: none;


}

nav ul li{
  display: inline;
  margin-right: 10px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
}

/*---------------FIN----------------*/
/*--------ESTILO PARA HEADER--------*/
/*----------------------------------*/




/*-------------INICIO---------------*/
/*----ESTILO PARA MAIN PRINCIPAL----*/
/*----------------------------------*/

.imagen-contenedor{
    margin:0%;
    max-width: 100%;
    max-height: 100%;
  }
  
  .contenedor-principal{
    display: grid;
    grid-template-columns: 1fr;
    /* 1 columnas para el contenido principal*/
    gap: 20px;
    padding: 20px 0px 0px 0px;
    align-items: flex-start;
  }
  
  .contenido-principal{
    background-image: url("/img/pagina-versiones/Banner-principal.png"); ;
    background-size: contain;
    padding: 70px;
    background-repeat: no-repeat;
    max-width: auto;
  }
  
  .titulo-principal{
    transition: color 0.5s ease;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    }
    
    .titulo-principal:hover{
      background: linear-gradient(to right, #42311e, #80674d, #42311e);
      background-clip: text;
      font-size: 45px;
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bolder;
      transition: color 0.5s ease  
    }
  
  /*---------------FIN----------------*/
  /*----ESTILO PARA MAIN PRINCIPAL----*/
  /*----------------------------------*/





  
/*-------------INICIO---------------*/
/*---ESTILO PARA MAIN SECUNDARIO----*/
/*----------------------------------*/

.contenedor-secundario{

    display: grid;
    grid-template-columns: 1fr 3fr;
    /* 3 columnas para el contenido principal*/
    gap: 20px;
    padding: 20px;
  }

  .contenedor-secundario-inverso{

    display: grid;
    grid-template-columns: 3fr 1fr;
    /* 3 columnas para el contenido principal*/
    gap: 20px;
    padding: 20px;
  }
  
  .lista{
    list-style: none;
    list-style-image: url(/img/Icon.png);
    margin-left: 30px;
  }
  
  .titulo-sublista{
    transition: color 0.5s ease;
    font-size: 25px;
    font-weight: bolder;
  
  }
  
  .titulo-sublista:hover{
    background: #776B5D;
    background-clip: text;
    font-size: 28px;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bolder;
    transition: color 0.5s ease  
  }

.parrafo-sublista{

    text-align: justify;
    line-height: 30px;
}
  
  .lista-none{
    list-style: circle;
    margin-left: 30px;
  }

.qwirks{
    padding: 5px;
    width: 250px;
    height: 200px;
}

.magicaliss{
    padding: 5px;
    width: 250px;
    height: 200px;


}
  
  /*--------------FIN-----------------*/
  /*---ESTILO PARA MAIN SECUNDARIO----*/
  /*----------------------------------*/





/*-------------INICIO---------------*/
/*---ESTILO PARA MAIN CONSOLAS------*/
/*----------------------------------*/

.contenedor-consolas{
    background-color: #625444;
    border-radius: 40px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;

    display: flex;
    gap: 20px;

    flex-wrap: wrap;

}

.consolas{

    border-radius: 18px;
    min-height: 200px;
    font-weight: bold;
    padding: 130px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;    
}

.consolas .textos{
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to right, #ffffff, #c5c5c5, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
      color: transparent;
}




/*--------------FIN-----------------*/
/*---ESTILO PARA MAIN CONSOLAS------*/
/*----------------------------------*/








/*------------INICIO----------------*/
/*-------ESTILO PARA FOOTER---------*/
/*----------------------------------*/

footer{
  
    background-color: #776B5D;
    color: #fff;
    padding: 3px;
  }
  
  .header-footer{
    background-color: #D0C8BA;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  
  }
  
  
  .fa{
    background-color: #776B5D;
    padding: 8px;
    border-radius:10px;
    color: white;
  }
  
  .tw{
    background-color: #776B5D;
    padding: 8px;
    border-radius:10px;
    color: white;
  }
  
  .in{
    background-color: #776B5D;
    padding: 8px;
    border-radius:10px;
    color: white;
  }
  
  .section{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
  }
  
  
  .parrafo-final{
    color: white;
  }
  
  /*--------------FIN-----------------*/
  /*-------ESTILO PARA FOOTER---------*/
  /*----------------------------------*/
  
  
  /*-------------------------------------*/
  /*----------------FIN------------------*/
  /* ESTILO CSS PARA PÁGINA DE VERSIONES */
  /*-------------------------------------*/
  /*-------------------------------------*/
  