/*----------------------------------*/
/*-------------INICIO---------------*/
/* ESTILO CSS PARA PÁGINA DE REGLAS */
/*----------------------------------*/
/*----------------------------------*/

/**
 * Estilos CSS para dar apariencia a la página
 *
 * fuente Lato desde Google Fonts y establece estilos básicos para la página
 */
 
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
   font-family: lato;
   margin:0;
   padding: 0;
   box-sizing: border-box;
}

/*------------INICIO----------------*/
/*--------ESTILO PARA HEADER--------*/
/*----------------------------------*/

header{
  background-color: #776B5D;
  color: #fff;
  padding: 3px;
}


.header-header{
  background-color: #D0C8BA;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;

}

.logo{
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.555));
}

nav{
  background-color: #776B5D;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 290px;
  height: auto;
  text-decoration: none;

}

nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul :hover{
  background-color: #554d43;
  color: #fff;
  margin: 2px;
  border-radius: 10px;
  width: 290px;
  height: auto;
  text-decoration: none;


}

nav ul li{
  display: inline;
  margin-right: 10px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
}

/*---------------FIN----------------*/
/*--------ESTILO PARA HEADER--------*/
/*----------------------------------*/


/*-------------INICIO---------------*/
/*----ESTILO PARA MAIN PRINCIPAL----*/
/*----------------------------------*/

.imagen-contenedor{
  margin:0%;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.contenedor-principal{
  display: grid;
  grid-template-columns: 1fr;
  /* 1 columnas para el contenido principal*/
  gap: 20px;
  padding: 20px;
}

.contenido-principal{
  background-image: url("/img/contenido-principal.png"); ;
  background-size: cover;
  padding: 100px;
  background-repeat: no-repeat;
  max-width: auto;
}

.titulo-principal{
  transition: color 0.5s ease;
  font-size: 40px;
  }
  
  .titulo-principal:hover{
    background: linear-gradient(to right, #00ffff, #ffff00, #800080,#00ff00, 	#ff0000, #0000ff);
    background-clip: text;
    font-size: 45px;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bolder;
    transition: color 0.5s ease  
    }

/*---------------FIN----------------*/
/*----ESTILO PARA MAIN PRINCIPAL----*/
/*----------------------------------*/





/*-------------INICIO---------------*/
/*---ESTILO PARA MAIN SECUNDARIO----*/
/*----------------------------------*/

.contenedor-secundario{

  display: grid;
  grid-template-columns: 2fr 2fr;
  /* 3 columnas para el contenido principal*/
  gap: 20px;
  padding: 20px;
}

.lista{
  list-style: none;
  list-style-image: url(/img/Icon.png);
  margin-left: 30px;
}

.titulo-sublista{
  transition: color 0.5s ease;
  font-size: 25px;
  font-weight: bolder;

}

.titulo-sublista:hover{
  background: #776B5D;
  background-clip: text;
  font-size: 28px;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bolder;
  transition: color 0.5s ease  
}

.lista-none{
  list-style: circle;
  margin-left: 30px;
}

/*--------------FIN-----------------*/
/*---ESTILO PARA MAIN SECUNDARIO----*/
/*----------------------------------*/



/*----------------------------*/
/* INICIO DE PIEZAS DE TETRIS */
/*----------------------------*/


/*-------------------------*/
/*-------------------------*/
/*---------PIEZA I---------*/
/*-------------------------*/
/*-------------------------*/

.tetris-i{

width: 200px;
height: 220px;
filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.555));
transition: color 0.5s ease
}

.tetris-i:hover{

  width: 215px;
  height: 220px;
  filter: drop-shadow(5px 5px 10px rgba(0, 155, 147, 0.712));
  transition: color 0.5s ease  
  }

/*-------------------------*/
/*-------------------------*/
/*--------PIEZA J----------*/
/*-------------------------*/
/*-------------------------*/

.tetris-j{

width: 200px;
height: 220px;
filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.555));
transition: color 0.5s ease  
}

.tetris-j:hover{

  width: 215px;
  height: 220px;
  filter: drop-shadow(5px 5px 10px rgba(3, 0, 155, 0.555));
  transition: color 0.5s ease  
  }

/*-------------------------*/
/*-------------------------*/
/*---------PIEZA L---------*/
/*-------------------------*/
/*-------------------------*/

.tetris-l{

width: 200px;
height: 220px;
filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.555));
transition: color 0.5s ease  
}

.tetris-l:hover{

  width: 215px;
  height: 220px;
  filter: drop-shadow(5px 5px 10px rgba(255, 104, 4, 0.788));
  transition: color 0.5s ease  
  }

/*-------------------------*/
/*-------------------------*/
/*--------PIEZA O----------*/
/*-------------------------*/
/*-------------------------*/

.tetris-o{

  width: 200px;
  height: 220px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.555));
  transition: color 0.5s ease  
  }
  
  .tetris-o:hover{
  
    width: 215px;
    height: 220px;
    filter: drop-shadow(5px 5px 10px rgb(255, 217, 0));
    transition: color 0.5s ease  
    }

/*-------------------------*/
/*-------------------------*/
/*---------PIEZA S---------*/
/*-------------------------*/
/*-------------------------*/

.tetris-s{

  width: 200px;
  height: 220px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.555));
  transition: color 0.5s ease  
  }
  
.tetris-s:hover{
  
  width: 215px;
  height: 220px;
  filter: drop-shadow(5px 5px 10px rgba(27, 255, 6, 0.801));
  transition: color 0.5s ease  
}

/*-------------------------*/
/*-------------------------*/
/*--------PIEZAS T---------*/
/*-------------------------*/
/*-------------------------*/

.tetris-t{

  width: 200px;
  height: 220px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.555));
  transition: color 0.5s ease  
  }
  
.tetris-t:hover{
  
  width: 215px;
  height: 220px;
  filter: drop-shadow(5px 5px 10px rgba(184, 3, 255, 0.781));
  transition: color 0.5s ease  
  }


/*-------------------------*/
/*-------------------------*/
/*---------PIEZA Z---------*/
/*-------------------------*/
/*-------------------------*/

.tetris-z{

  width: 200px;
  height: 220px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.555));
  transition: color 0.5s ease  
  }
  
.tetris-z:hover{
  
  width: 215px;
  height: 220px;
  filter: drop-shadow(5px 5px 10px rgba(255, 3, 3, 0.788));
  transition: color 0.5s ease  
  }

/*-------------------------*/
/* FIN DE PIEZAS DE TETRIS */
/*-------------------------*/


/*-------------INICIO---------------*/
/*-----ESTILO PARA MAIN DORADO------*/
/*----------------------------------*/

.titulo-dorado{

  background: linear-gradient(to right, #E1BB68 0%, #D1A656 50%, #BD8B41 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bolder;

}

.subtitulo-contenedor-dorado{

color: #757575;
font-weight: bolder;

}

.contenido-contenedor-dorado{

text-align: justify;

}

.contenedor-video{
  padding: 50px;
}

.video{
  border-radius: 10px;
  width: 600px;
  
}

/*--------------FIN-----------------*/
/*-----ESTILO PARA MAIN DORADO------*/
/*----------------------------------*/





/*------------INICIO----------------*/
/*-------ESTILO PARA FOOTER---------*/
/*----------------------------------*/

footer{
  
  background-color: #776B5D;
  color: #fff;
  padding: 3px;
}

.header-footer{
  background-color: #D0C8BA;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;

}


.fa{
  background-color: #776B5D;
  padding: 8px;
  border-radius:10px;
  color: white;
}

.tw{
  background-color: #776B5D;
  padding: 8px;
  border-radius:10px;
  color: white;
}

.in{
  background-color: #776B5D;
  padding: 8px;
  border-radius:10px;
  color: white;
}

.section{
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}


.parrafo-final{
  color: white;
}

/*--------------FIN-----------------*/
/*-------ESTILO PARA FOOTER---------*/
/*----------------------------------*/


/*----------------------------------*/
/*--------------FIN-----------------*/
/* ESTILO CSS PARA PÁGINA DE REGLAS */
/*----------------------------------*/
/*----------------------------------*/
